<div class="register-container">
  <div class="nav__logo">
    <a href="/" class="logo" href="">
      <img src="../../../../assets/imgs/logo.png" alt="logo" />
    </a>
  </div>
  <div class="register-texto">
    <p>Bienvenido a Pet's Lighthouse</p>
  </div>
  <div class="form-box">
    <form>
      <div class="form-flex">
        <div class="form-items">
          <label class="form-label" for="formEmail"> Email </label>
          <input class="form-control" type="email" id="formEmail" />
        </div>
        <div class="form-items">
          <label class="form-label" for="formPassword"> Contraseña </label>
          <input class="form-control" type="text" id="formPassword" />
        </div>
        <div>
          <button class="form-items form-button" type="submit">
            Iniciar sesión
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="register">
    <p>¿Aún no tienes cuenta?</p>
    <button routerLink="/register">Regístrate</button>
  </div>
</div>
