<div class="register-container">
  <div class="nav__logo">
    <a href="/" class="logo" href="">
      <img src="../../../../assets/imgs/logo.png" alt="logo" />
    </a>
  </div>
  <div class="register-texto">
    <p>Bienvenido a Pet's Lighthouse</p>
  </div>
  <div class="form-box">
    <form (ngSubmit)="OnRegister()">
      <div class="form-flex">
        <div class="form-items">
          <label class="form-label" for="formName"> Nombre </label>
          <input class="form-control" name="name" type="text" id="formName" />
        </div>
        <div class="form-items">
          <label class="form-label" for="formEmail"> Email </label>
          <input class="form-control" name="email" type="email" id="formEmail" />
        </div>
        <div class="form-items">
          <label class="form-label" for="formPassword"> Contraseña </label>
          <input class="form-control" name="password" type="text" id="formPassword" />
        </div>
        <div class="form-items">
          <label class="form-label" for="formPasswordR">
            Repita la contraseña
          </label>
          <input class="form-control" name="passwordR" type="text" id="formPasswordR" />
        </div>
        <div>
          <button class="form-items form-button" type="submit">
            Crear cuenta
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="login">
    <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a></p>
  </div>
</div>
