<header>
  <div>
    <div>
      <nav class="nav-header">
        <div class="nav__logo">
          <a href="/" class="logo" href="">
            <img src="../../../../assets/imgs/logo.png" alt="logo" />
          </a>
          <a href="/" class="texto">
            <span>Pet's Lighthouse</span>
          </a>
        </div>
        <div class="nav__links">
          <!-- <a class="hide-mobile" href="">
            <button type="button" class="nav__button button__create_account">Crear cuenta</button>
          </a> -->
          <a routerLink="login" class="nav__button button__login">Iniciar sesión</a>
          <div class="nav__menu show-mobile">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
